html,
body {
    height: 100%;
    width: 100%;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
}

nav {
    height: 60px;
}

.pong__bg {
    background-color: black;
    display: flex;
}

.chat__bg {
    position: relative;
    background-color: #49599a;
    overflow-y: scroll;
}

.chat__list {
    margin-bottom: 50px;
}

.chat__form {
    justify-content: center;
}

.chat__text-field {
    width: 65%;
}

.chat__input {
    z-index: 10;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.chat__list {
    width: 100%;
}

.chat__button {
    width: 85px;
}

/* CSS talk bubble */
.talk-bubble {
    margin: 2% 8% 2% 24px;
    display: inline-block;
    position: relative;
    max-width: calc(100% - 20%);
    background-color:  #aab6fe;
}

.border {
    border: 8px solid #666;
}

.round {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

}
  
/* Style */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -40px;
	right: auto;
    top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -20px;
	right: auto;
    top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: #aab6fe transparent transparent transparent;
}

/* talk bubble contents */
.talktext {
    margin: 0;
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
    overflow-wrap: break-word;
}
.talktext p {
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

@media (min-width: 1000px) {
    .flex-wrapper {
        flex-direction: row-reverse;
    }
}